.header {
  padding: 0px 15px;
  display: flex;
  /* background-color: red; */
  /* align-items: center; */
  /* height: 100px; */
  justify-content: space-between;
}

.headerContainer {
  z-index: 3;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.brand {
  display: flex;
  /* background-color: lawngreen; */
  width: fit-content;
  cursor: pointer;
}

.iconPrimate {
  margin: 25px 0;
  width: 30px;
  height: 30px;
}

.iconPrimate svg {
  width: 30px;
  height: 30px;
}

.brand .brandName {
  margin: 25px 0px 25px 10px;
  height: fit-content;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #000000;
  /* background-color: red; */
}

.menu {
  display: none;
}

svg {
  margin: 0%;
  padding: 0%;
}

hr {
  margin: 0%;
  padding: 0%;
}

.dropdownOption {
  display: block;
  /* background-color: lightcoral; */
  text-align: right;
  padding: 0 15px;
  display: flex;
  flex-direction: row-reverse;
}

.menuItem {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #000000;
}

.desktop {
  display: flex;
  align-items: center;
}

.desktop .search input,
.search {
  width: 300px;
  height: 40px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  color: #959da5;
}

.search {
  display: flex;
  margin-right: 25px;
  position: relative;
}

.search svg {
  position: absolute;
  left: 270px;
  cursor: pointer;
  top: 10px;
}

.search input {
  padding: 10px;
}

.desktop .search input:focus {
  border: 1px solid #1653c9;
}

.loginBtn {
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1080px) {
  .headerContainer {
    padding: 0px 20px;
    display: block;
    justify-content: space-between;
  }
  .brand .brandName {
    margin: 15px 0px 15px 8px;
    /* background-color: red; */
    font-weight: bold;
    font-size: 16.2652px;
    line-height: 19px;
    height: fit-content;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .iconPrimate {
    margin: 15px 0px 0 0;
    width: 20px;
    height: 20px;
  }

  .iconPrimate svg {
    width: 20px;
    height: 20px;
  }

  .menu.mobile {
    display: initial;
    cursor: pointer;
    width: 24px;
    width: fit-content;
    height: fit-content;
    padding: 0%;
    margin: 15px 25px 15px 0px;
    /* background-color: lawngreen; */
    height: 24px;
  }

  .desktop {
    display: none;
  }
}
