<div class="headerContainer">
  <div class="primateMainContainer header">
    <div class="brand">
      <div class="iconPrimate">
        <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H40V40H0V20.0133H10V30H30V10H0V0Z" fill="black" />
        </svg>
      </div>
      <div class="brandName">Primate</div>
    </div>
    <div class="menu" (click)="toggleMenu()">
      <svg *ngIf="!menuState" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="black" />
      </svg>
      <svg *ngIf="menuState" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
          fill="black"
        />
      </svg>
    </div>
  </div>
  <div class="dropdownOption primateMainContainer" *ngIf="menuState">
    <div class="menuOption">
      <div class="menuItem" (click)="redirectToSignin()" style="margin-bottom: 5px">Login</div>
      <div class="menuItem" style="margin-bottom: 15px">Help</div>
    </div>
  </div>
</div>
<hr />
