<div class="primateMainContainer">
  <div class="step2" [ngClass]="{ show: activeStep.step2 === true, hide: activeStep.step2 === false }">
    <div class="signUpContainer">
      <div class="logo">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H40V40H0V20.0133H10V30H30V10H0V0Z" fill="black" />
        </svg>
      </div>
      <div class="title">
        <h3>Setup your profile</h3>
      </div>
      <form [formGroup]="signUpFormControl" class="form">
        <div (click)="clickImgButton()" class="imgUpload">
          <img #containerImg />
          <input #uploadImg type="file" (change)="uploadImgFunction($event)" />
          <div class="underLine">Set picture</div>
        </div>
        <div class="formInputBox">
          <div class="ForumEmail">
            <p>Description</p>
            <input type="text" minlength="1" formControlName="description" placeholder="Max 50 characters" />
          </div>
        </div>
        <div class="formInputBox">
          <div class="ForumEmail">
            <p>Country</p>
            <input style="display: none" formControlName="country" [value]="countryInput.value" />
            <input
              #countryInput
              type="text"
              class="dropDown"
              placeholder="Select a Country"
              matInput
              [formControl]="myControlCountry"
              [matAutocomplete]="auto"
            />
            <!-- formControlName="country" -->
            <div>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  <div class="checkOption">
                    <svg
                      *ngIf="countryInput.value == option"
                      width="11"
                      height="10"
                      viewBox="0 0 11 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.49566 7.50895L0.887932 4.94351L-7.23675e-05 5.81096L3.49566 9.25L10.9999 1.86745L10.1182 1L3.49566 7.50895Z"
                        fill="black"
                      />
                    </svg>
                  </div>

                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div *ngIf="error.state.isImageType" class="invalidEmailErrorSection">
          <img class="invalidEmailErrorSVG" src="../../../../assets/error_outline.svg" />

          <p>Invalid file type.</p>
        </div>
        <!-- <div *ngIf="error.state.isDescription" class="invalidEmailErrorSection">
          <img class="invalidEmailErrorSVG" src="../../../../assets/error_outline.svg" />

          <p>Description should not be less then 10 words.</p>
        </div> -->
        <!-- <div *ngIf="error.state.isCountry" class="invalidEmailErrorSection">
          <img class="invalidEmailErrorSVG" src="../../../../assets/error_outline.svg" />

          <p>Please enter your country.</p>
        </div> -->
        <button (click)="nextStep('step2')" [disabled]="!checkYourProfileValidity()">Next</button>
      </form>
    </div>
  </div>
  <div class="step3" [ngClass]="{ show: activeStep.step3 === true, hide: activeStep.step3 === false }">
    <div class="signUpContainer">
      <div class="logo">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H40V40H0V20.0133H10V30H30V10H0V0Z" fill="black" />
        </svg>
      </div>
      <div class="title">
        <h3>Setup your website</h3>
      </div>
      <form [formGroup]="signUpFormControl" class="form">
        <div class="formInputBox">
          <div class="FormURL">
            <p>Website URL</p>
            <input type="text" minlength="1" placeholder="" formControlName="subDomainPrefix" />
            <span class="subdomainPostfix">.primate.health</span>
          </div>
        </div>
        <div *ngIf="error.httpsError.state" class="invalidEmailErrorSection">
          <img class="invalidEmailErrorSVG" src="../../../../assets/error_outline.svg" />

          <p>{{ error.httpsError.message }}</p>
        </div>
        <!-- <div *ngIf="error.state.isPrefix" class="invalidEmailErrorSection">
          <img class="invalidEmailErrorSVG" src="../../../../assets/error_outline.svg" />

          <p>Prefix should not be less then 3 words.</p>
        </div> -->
        <button (click)="Submit()" [disabled]="!checkPreFixValid()">All Set!</button>
      </form>
    </div>
  </div>
</div>
