html,
body {
  padding: 0%;
  margin: 0%;
}

.primateMainContainer {
  /* font-family: system-ui !important; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif !important ;

  width: 1080px !important;
  /* background-color: red; */
  margin: 0 auto !important;
}

h3 {
  margin: 0;
  font-size: 24px;
  line-height: 28.5px;
  font-weight: 600;
}

p {
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
span,
form,
a,
p,
div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif !important ;
}

button {
  cursor: pointer;
  background: #1c68fc;
  color: white;
  outline: none;
  border-radius: 3px;
  font-style: normal;
  border: none;
}

button:disabled {
  background: #1c68fc;
  mix-blend-mode: normal;
  opacity: 0.5;

  cursor: initial;
}

button:active {
  background-color: #1653c9;
}

.mat-option-text {
  margin: 0vw;
  display: flex !important;
}

@media (max-width: 1080px) {
  html,
  body {
    width: 100%;
    height: 100vh;
    /* background-color: teal; */
  }

  .primateMainContainer {
    /* font-family: system-ui !important; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif !important ;

    width: 100% !important;

    /* background-color: red; */
    margin: 0 auto !important;
  }
}
